# ignore Xcode work space config file
**/*.xcworkspace

# ignore Xcode projects config file
**/*.xcodeproj

# ignore MacOS .DS_store file manage file
**/*.DS_Store

# ignore .vs and .idea and cmakebuild fold.
.vs/
.idea/
cmake-build-debug/
out/